<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/154f7442ec4859805d16fc8e/w/68cf82833751741c8fc2d544/e/aaa1b50dd4f05be30341aca7 -->
<robot name="meshes">
  <!-- Link base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="-0 0 0.0644096" rpy="0 0 0"/>
      <mass value="116.707"/>
      <inertia ixx="8.9803" ixy="0" ixz="0" iyy="8.9803" iyz="0" izz="13.2174"/>
    </inertial>
    <!-- Part base_link -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/base_link.stl"/>
      </geometry>
      <material name="base_link_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/base_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link arm1_base -->
  <link name="arm1_base">
    <inertial>
      <origin xyz="-3.62131e-07 1.93556e-07 -0.479977" rpy="0 0 0"/>
      <mass value="7.44232"/>
      <inertia ixx="0.548899" ixy="-4.4911e-08" ixz="-8.37271e-07" iyy="0.549999" iyz="4.48638e-07" izz="0.0155141"/>
    </inertial>
    <!-- Part arm1_base -->
    <visual>
      <origin xyz="-0 0 0" rpy="3.14159 -0 -0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm1_base.stl"/>
      </geometry>
      <material name="arm1_base_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 0" rpy="3.14159 -0 -0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm1_base.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link arm1 -->
  <link name="arm1">
    <inertial>
      <origin xyz="0.392845 -2.1279e-08 -0.0536656" rpy="0 0 0"/>
      <mass value="6.76494"/>
      <inertia ixx="0.00336639" ixy="-3.7456e-08" ixz="1.07541e-07" iyy="0.438209" iyz="-2.2728e-08" izz="0.437836"/>
    </inertial>
    <!-- Part arm1 -->
    <visual>
      <origin xyz="0 0 -0.0536656" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm1.stl"/>
      </geometry>
      <material name="arm1_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0536656" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link arm2_base -->
  <link name="arm2_base">
    <inertial>
      <origin xyz="-4.42854e-07 2.36702e-07 -0.497691" rpy="0 0 0"/>
      <mass value="6.08574"/>
      <inertia ixx="0.462844" ixy="-4.4911e-08" ixz="-7.89532e-07" iyy="0.463944" iyz="4.23122e-07" izz="0.00893377"/>
    </inertial>
    <!-- Part arm2_base -->
    <visual>
      <origin xyz="0 0 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm2_base.stl"/>
      </geometry>
      <material name="arm2_base_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm2_base.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link arm2 -->
  <link name="arm2">
    <inertial>
      <origin xyz="0.392845 -2.1279e-08 0.0536656" rpy="0 0 0"/>
      <mass value="6.76494"/>
      <inertia ixx="0.00336639" ixy="-3.7456e-08" ixz="1.07541e-07" iyy="0.438209" iyz="-2.2728e-08" izz="0.437836"/>
    </inertial>
    <!-- Part arm2 -->
    <visual>
      <origin xyz="0 0 0.0536656" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm2.stl"/>
      </geometry>
      <material name="arm2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0536656" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm2.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from arm2_base to arm2 -->
  <joint name="arm2" type="revolute">
    <origin xyz="0.0536635 -0 -0.87" rpy="-3.14159 1.5708 0"/>
    <parent link="arm2_base"/>
    <child link="arm2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from arm1 to arm2_base -->
  <joint name="arm2_base" type="revolute">
    <origin xyz="0.085 -0 -0.0536656" rpy="3.14159 1.5708 0"/>
    <parent link="arm1"/>
    <child link="arm2_base"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from arm1_base to arm1 -->
  <joint name="arm1" type="revolute">
    <origin xyz="0.0536635 0 -0.87" rpy="-0 1.5708 0"/>
    <parent link="arm1_base"/>
    <child link="arm1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from base_link to arm1_base -->
  <joint name="arm1_base" type="revolute">
    <origin xyz="-0 0 0.1" rpy="-3.14159 -0 0"/>
    <parent link="base_link"/>
    <child link="arm1_base"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
</robot>
