<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/154f7442ec4859805d16fc8e/w/68cf82833751741c8fc2d544/e/aaa1b50dd4f05be30341aca7 -->
<robot name="meshes">
  <!-- Link base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0.12357" rpy="0 0 0"/>
      <mass value="130.02"/>
      <inertia ixx="2.74" ixy="0" ixz="0" iyy="2.74" iyz="0" izz="4.13301"/>
    </inertial>
    <!-- Part base_link -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/base_link.stl"/>
      </geometry>
      <material name="base_link_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/base_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link arm1_base -->
  <link name="arm1_base">
    <inertial>
      <origin xyz="-1.3357e-08 1.1495e-08 -0.0854122" rpy="0 0 0"/>
      <mass value="3.45791"/>
      <inertia ixx="0.0126819" ixy="3.02e-10" ixz="-5.356e-09" iyy="0.0137822" iyz="4.123e-09" izz="0.00564869"/>
    </inertial>
    <!-- Part arm1_base -->
    <visual>
      <origin xyz="0 0 0" rpy="-3.14159 -0 -0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm1_base.stl"/>
      </geometry>
      <material name="arm1_base_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="-3.14159 -0 -0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm1_base.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link arm1 -->
  <link name="arm1">
    <inertial>
      <origin xyz="0.387858 -2.1286e-08 -0.0536656" rpy="0 0 0"/>
      <mass value="6.6886"/>
      <inertia ixx="0.00333204" ixy="-3.649e-08" ixz="1.05332e-07" iyy="0.42345" iyz="-2.248e-08" izz="0.423078"/>
    </inertial>
    <!-- Part arm1 -->
    <visual>
      <origin xyz="0 0 -0.0536656" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm1.stl"/>
      </geometry>
      <material name="arm1_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0536656" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link arm2_base -->
  <link name="arm2_base">
    <inertial>
      <origin xyz="-3.72859e-07 2.60144e-07 0.254292" rpy="0 0 0"/>
      <mass value="5.49197"/>
      <inertia ixx="0.329388" ixy="-3.6297e-08" ixz="-5.14265e-07" iyy="0.330489" iyz="3.76337e-07" izz="0.00819157"/>
    </inertial>
    <!-- Part arm2_base -->
    <visual>
      <origin xyz="0 0 0.7" rpy="3.14159 0 -0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm2_base.stl"/>
      </geometry>
      <material name="arm2_base_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.7" rpy="3.14159 0 -0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm2_base.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link arm2 -->
  <link name="arm2">
    <inertial>
      <origin xyz="0.387858 -2.1286e-08 -0.0536656" rpy="0 0 0"/>
      <mass value="6.6886"/>
      <inertia ixx="0.00333204" ixy="-3.649e-08" ixz="1.05332e-07" iyy="0.42345" iyz="-2.248e-08" izz="0.423078"/>
    </inertial>
    <!-- Part arm2 -->
    <visual>
      <origin xyz="0 0 -0.0536656" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm2.stl"/>
      </geometry>
      <material name="arm2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0536656" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm2.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link arm3_base -->
  <link name="arm3_base">
    <inertial>
      <origin xyz="-3.72859e-07 2.60144e-07 0.254292" rpy="0 0 0"/>
      <mass value="5.49197"/>
      <inertia ixx="0.329388" ixy="-3.6297e-08" ixz="-5.14265e-07" iyy="0.330489" iyz="3.76337e-07" izz="0.00819157"/>
    </inertial>
    <!-- Part arm3_base -->
    <visual>
      <origin xyz="0 0 0.7" rpy="3.14159 -0 -0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm3_base.stl"/>
      </geometry>
      <material name="arm3_base_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.7" rpy="3.14159 -0 -0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm3_base.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link arm3 -->
  <link name="arm3">
    <inertial>
      <origin xyz="0.188829 -2.1808e-08 -0.0536656" rpy="0 0 0"/>
      <mass value="3.63498"/>
      <inertia ixx="0.0019579" ixy="-8.178e-09" ixz="3.5034e-08" iyy="0.0666534" iyz="-1.2548e-08" izz="0.0662806"/>
    </inertial>
    <!-- Part arm3 -->
    <visual>
      <origin xyz="0 0 -0.0536656" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm3.stl"/>
      </geometry>
      <material name="arm3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0536656" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/menglin/ROS2/src/py_package/meshes/assets/arm3.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from arm3_base to arm3 -->
  <joint name="arm3" type="revolute">
    <origin xyz="-0.0536635 0 -0.08" rpy="3.14159 1.5708 0"/>
    <parent link="arm3_base"/>
    <child link="arm3"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from arm2 to arm3_base -->
  <joint name="arm3_base" type="revolute">
    <origin xyz="0.825 -0 -0.0536656" rpy="-3.14159 1.5708 0"/>
    <parent link="arm2"/>
    <child link="arm3_base"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from arm2_base to arm2 -->
  <joint name="arm2" type="revolute">
    <origin xyz="-0.0536635 0 -0.08" rpy="-3.14159 1.5708 0"/>
    <parent link="arm2_base"/>
    <child link="arm2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from arm1 to arm2_base -->
  <joint name="arm2_base" type="revolute">
    <origin xyz="0.825 -0 -0.0536656" rpy="3.14159 1.5708 0"/>
    <parent link="arm1"/>
    <child link="arm2_base"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from arm1_base to arm1 -->
  <joint name="arm1" type="revolute">
    <origin xyz="-0.0536635 0 -0.18" rpy="3.14159 1.5708 0"/>
    <parent link="arm1_base"/>
    <child link="arm1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from base_link to arm1_base -->
  <joint name="arm1_base" type="revolute">
    <origin xyz="0 0 0.14" rpy="3.14159 0 0"/>
    <parent link="base_link"/>
    <child link="arm1_base"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
</robot>
